html {
  min-height: 100vh;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

div.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(210px, 1fr) 3fr;
  grid-template-rows: 48px 1fr 32px;
}

div.header,
div.footer {
  grid-column: 1 / 3;
  background-color: rgb(203, 213, 225);
}

div.main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.content {
  margin: 12px 0px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form.todo-form {
  min-width: 400px;
  margin: 12px;
  padding: 16px 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
  background-color: rgb(229, 231, 235);

  label {
    margin: 0;
  }

  input {
    border: 1px solid black;
    border-radius: 4px;
  }
}

div.form-controls {
  display: flex;
  justify-content: center;
  gap: 12px;

  input.add,
  input.cancel {
    color: white;
    font-weight: bold;
    height: 32px;
    width: 72px;
    border: none;
    border-radius: 4px;
  }

  input.add {
    background-color: rgb(16, 185, 129);
  }

  input.cancel {
    background-color: rgb(244, 63, 94);
  }
}

div.sidebar {
  background-color: rgb(229, 231, 235);
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.user-projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button.add-project,
button.add-todo,
div.project {
  display: flex;
  width: 80%;
  gap: 8px;
  margin: 8px 0px;
  padding: 8px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background-color: transparent;
}

button.delete-project {
  font-weight: bold;
  color: white;
  background-color: rgb(244, 63, 94);
  border: none;
  border-radius: 4px;
}

div.project {
  text-align: left;
}

div.new-project-wrapper {
  min-height: 24px;
  width: 80%;
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 8px;
  column-gap: 16px;

  input {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    border: 2px solid black;
    border-radius: 4px;
    height: 28px;
  }

  button {
    color: white;
    font-weight: bold;
    height: 28px;
    border: none;
    border-radius: 4px;
  }

  button.submit-project {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: rgb(16, 185, 129);
  }

  button.cancel-project {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(244, 63, 94);
  }
}

form.invisible,
button.invisible,
.invisible {
  display: none;
}

div.todo-wrapper {
  display: flex;
  align-items: center;
  min-width: 600px;
  padding: 8px 24px;
  margin: 8px 0px;
  border-radius: 4px;
  gap: 12px;
  background-color: rgb(229, 231, 235);

  p,
  input {
    font-weight: bold;
    margin: 0;
  }

  .delete-todo,
  .edit-todo {
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
  }
}

.delete-todo {
  background-color: rgb(244, 63, 94);
}

.edit-todo {
  background-color: rgb(156, 163, 175);
}
